.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo img{
    width: 150px; height: 100px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
    font-size: 24px;
}

.nav-items>ul li{
    margin: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
}

.res-card:hover{
    border: 1px solid #000;
    cursor: pointer;
}

.res-card{
    word-wrap: break-word;
    width: 250px;
    margin-top: 25px;
    margin-right: 25px;
}


.res-card img{
    width: 100%;
    height: 225px;
}

.filter{
    padding: 10px 0px;
    display: flex;
}

.top-rated-btn, .reset-btn, .log-in-out-btn, .search-btn{
    background-color: #0a4f99f7;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.search-text{
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}